/* Champions Select — Light Theme */
#scrollArea {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.667);
}

#scrollWidget {
    border: none;
    border-radius: 8px;
    background-color: transparent;
}